.search-container {
    min-width: 30%;
    height: 40vh;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 29.5vh;
    overflow: hidden;
    margin-top: 30vh;

    @media screen and (max-width: 800px) {
        margin-top: 5vh;
        flex: auto;
        border-radius: 10px;
        height: 70vh;
        max-width: 95vw;
        margin-left: 0;
        margin-right: 0;
        border: none;
    }

    .background-image {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        opacity: 0.8;

        @media screen and (max-width: 800px) {
            height: 100vh;
            width: auto;
        }
    }

    .search-content {
        height: 200px;
        padding: 0 75px;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        opacity: 0.9;
        position: absolute;
        justify-content: space-between;
        flex-direction: row;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            height: auto;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            margin: 0 90px;
        }

        h2 {
            font-weight: bold;
            margin: 0 6px 0;
            font-size: 22px;
            color: black;

            @media screen and (max-width: 800px) {
                font-size: 1rem;
                color: white;
                margin-top: 15px;
                text-align: center;
            }
        }

        .search-from {
            margin-right: 50px;

            @media screen and (max-width: 800px) {
                margin-right: 0;
            }

            .form-input {
                margin-top: 25px;
                padding: 15px 50px;
            }
        }

        .search-to {
            margin-right: 50px;

            @media screen and (max-width: 800px) {
                margin-right: 0;
            }

            .form-input {
                margin-top: 25px;
                padding: 15px 50px;
            }
        }

        .search-date {
            margin-right: 50px;

            @media screen and (max-width: 800px) {
                margin-right: 0;
            }

            .form-input {
                margin-top: 25px;
                padding: 15px 30px;
            }
        }

        .button-button {
            background-color: rgba(128, 0, 128, 0.966);
            opacity: 0.8;
            padding: 15px 30px;
            border-radius: 15px;
            margin-top: 50px;
            position: relative;
            top: 0;
            color: white;
            box-shadow: 0 2px 2px -2px gray;
            transition: top ease 0.3s;

            @media screen and (max-width: 800px) {
                left: 0;
            }

            &:hover {
                background-color: rgb(128, 0, 128);
                top: -3px;
                box-shadow: 0 5px 2px -2px gray;
            }
        }
    }
}