.flight-card-container {
    width: 80vw;
    border: 1px solid white;
    margin: 3vh 10vw;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: all .5s ease;

    @media screen and (max-width:800px) {
        width: 70vw;
        margin: 0;
        flex-direction: column;
        text-align: center;
        margin-left: 5vw;
        border-radius: 15px;
        margin-bottom: 1vh;
    }

    .detail-label {
        @media screen and (max-width:800px) {
            margin: 0;
        }
    }


    .view-text {
        font-size: 25px;
        margin-left: 10vw;

        @media screen and (max-width:800px) {
            margin-left: 0;
            font-size: 15px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: purple;
    }
}