.flight-data{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 0 10vw;

    .form-label{
        top: -25px;
        font-size: 24px;
        color: rgb(0, 0, 0);
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    .form-data{
        font-size: 25px;
        color: rgba(255, 255, 255, 0.877);
    }
    .form-input{
        font-size: 20px;
        padding: 15px;
        margin-bottom: 50px;
    }
}

.form-button{
    padding: 15px 25px;
    align-self: center;
    margin-left: 10vw;
    margin-bottom: 20vh;
    font-size: 18px;
}