.default-div {
    justify-content: center;
    text-align: center;

    .text-background {
        background-image: url(background.avif);
        background-repeat: repeat;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 200px;
        font-size: 180px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Steelfish Rg', 'helvetica neue',
            helvetica, arial, sans-serif;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .text-background-small {
        background-image: url(background.avif);
        background-repeat: repeat;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 200px;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Steelfish Rg', 'helvetica neue',
            helvetica, arial, sans-serif;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    br {
        display: none;
    }

    .home-link {
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: purple;
        color: white;
        margin-bottom: 50vh;
    }
}