.history-icon-container {
    width: 45px;
    height: 8vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 800px) {
        width: 47px;
        height: 47px;
        position: absolute;
        top: 20px;
        left: 45vw;
        z-index: 5;
    }

    .icon {
        width: 24px;
        height: 34px;

        @media screen and (max-width: 800px) {
            width: 26px;
            height: 34px;
        }
    }

    .item-count {
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        margin-top: auto;
        padding-top: 10px;
        color: white;
    }
}