.search-body {
    min-height: 92vh;

    .title {
        color: white;
    }

    .sorting-div {
        min-height: 8vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            min-width: 70vw;
        }

        .sorting-span {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: rgba(255, 255, 255, 0.623);

            @media screen and (max-width: 800px) {
                width: 100%;
                justify-content: space-between;
            }

            .sorting-search-box {
                margin-left: 15px;
            }

            .sorting-button {
                padding: 10px 15px;
                cursor: pointer;
                margin-left: 15px;
                color: white;
                background-color: purple;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(158, 0, 158);
                    border-bottom: 0.5px solid white;
                }
            }
        }
    }
}

.false-text {
    color: white;
    text-align: center;
    font-size: 2rem;
    height: 92vh;
}